@keyframes bg-2-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 92.5% 7%, center;
  }
  50% {
    background-position: 90% -5%, center;
    background-size: 62%, cover;
  }
  100% {
    background-position: 92.5% 7%, center;
  }
}
