@use "variables";

.footer {
  background-color: variables.$footer-bg;
  text-align: left;
  color: variables.$footer-color;

  &__flex {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 80px;
    gap: 32px;
  }

  &__logo-container {
    flex-shrink: 0;

    &__image {
      vertical-align: middle;
    }

    &__text {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      display: inline-block;
      margin-left: 15px;
      font-size: 18px;
      color: variables.$white;
    }
  }

  &__info-container {
    margin-right: auto;
    margin-left: 80px;

    &__mail {
      color: variables.$footer-color;
      text-decoration: none;
    }
  }

  &__p {
    align-self: flex-end;
  }
}
