@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: variables.$font-family-primary;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: variables.$font-family-secondary;
}

a {
  color: variables.$white;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: variables.$white;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 150px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
