@use "variables";

.header {
  position: relative;
  height: 100vh;
  background-image: url("../assets/stars.png"),
    url("../assets/Desktop_Backgrounds_1920x1200_6\ 3.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 60%, cover;
  animation: bg-animation 5s infinite;

  &__bg-2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../assets/big-stars.png");
    background-repeat: no-repeat;
    background-position: 101.5% 51%;
    background-size: 38.5%;
    animation: bg-2-animation 5s infinite;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 50px 0;
    text-transform: uppercase;

    &__logo-text {
      letter-spacing: 0.1em;
      font-weight: 600;
      font-size: 20px;
    }

    &__menu {
      display: flex;
      gap: 32px;
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 16px;
      margin: 0 auto;

      &__item {
        position: relative;

        a:hover:before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 97%;
          height: 2px;
          background-color: variables.$white;
        }
      }
    }
  }
  .content {
    &__image {
      transition: scale 500ms ease-in-out, transform 500ms ease-in-out;

      &:hover {
        scale: 1.5;
        transform: rotateY(180deg);
      }
    }
    &__h1 {
      color: variables.$white;
      font-size: 48px;
      line-height: 64px;
      margin: 20px 0px;
    }
    &__h2 {
      color: variables.$light-gray;
      font-family: variables.$font-family-secondary;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      margin: 40px 0px;
    }
  }
  .fa-bars {
    display: none;
  }
}
