@use "variables";

@media screen and (max-width: 480px) {
  @keyframes bg-animation {
    0% {
      background-position: 112.5% 11%, right;
      background-size: 166%, cover;
    }
    50% {
      background-position: 117% 5%, right;
      background-size: 170%, cover;
    }
    100% {
      background-position: 112.5% 11%, right;
      background-size: 166%, cover;
    }
  }

  .header__bg-2 {
    background-position: 65.5% 50%;
    background-size: 106.5%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 25px;
  }

  .content {
    width: 100%;

    &__h3 {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .header__nav__menu {
    display: none;
  }

  .fa-bars {
    display: block;
    color: variables.$white;
    font-size: 25.14px;
  }

  .section-1 {
    text-align: left;
    padding: 65px 25px 120px;

    &__text-container {
      grid-template-columns: 1fr;
      gap: 25px;
      margin: 0;
    }
    &__article__h2 {
      margin-right: 60px;
    }
  }

  .footer {
    padding: 60px 0 75px;
    &__flex {
      flex-direction: column;
      align-items: center;
    }

    &__logo-container__image {
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(233deg) brightness(106%) contrast(107%);
    }
    &__info-container {
      text-align: center;
      margin: 0;

      &__address {
        font-style: normal;
      }
    }

    &__p {
      align-self: center;
    }
  }
}
