@use "variables";

.section-1 {
  background-color: variables.$white-secondary;
  padding: 100px 0px;

  &__article__h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: variables.$section-1-h2;
  }

  &__article__h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: variables.$gray;
    margin: 40px 0px;
  }

  &__text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin: 0 150px;
    text-align: left;
  }

  &__button {
    font-family: variables.$font-family-secondary;
    font-weight: 400;
    background-color: variables.$blue-1;
    border-radius: 18px;
    height: 36px;
    width: 115px;
    border: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 14px;
    transition: rotate 550ms;
    transform-origin: center left;

    &:hover {
      rotate: 10deg;
    }
  }
}
