@use "variables";

.section-2 {
  background-image: url("../assets/thumbnail.png");
  background-color: variables.$section-2-bg;
  background-blend-mode: difference;
  position: relative;
  height: 666px;
  background-repeat: no-repeat;
  background-size: cover;
  color: variables.$white;

  .content__h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
  }

  .content__h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    max-width: 385px;
  }

  .content__button {
    border-radius: 50%;
    background-color: variables.$blue-2;
    width: 150px;
    height: 150px;
    font-size: 100px;
    border: 0;
    margin: 60px 0px;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out;

    &:hover {
      background-color: variables.$white;
      color: variables.$blue-2;
    }
  }
}
