$font-family-primary: "Source Sans Pro";
$font-family-secondary: Oswald;

$white: #ffffff;
$light-gray: rgba(255, 255, 255, 0.7);
$gray: #666666;
$white-secondary: #eeeeee;
$blue-1: #55c2d8;
$blue-2: #39c2d7;
$section-1-h2: #464547;
$section-2-bg: rgba(140, 79, 42, 0.3);
$footer-color: rgba(255, 255, 255, 0.4);
$footer-bg: #464547;
